<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand fw-bold">Grading System</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link fw-bold"
            aria-current="page"
            routerLinkActive="active"
            routerLink="/students"
            >Students</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fw-bold"
            aria-current="page"
            routerLinkActive="active"
            routerLink="/subjects"
            >Subjects</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
