$bg-light: #f0f0f0;
$bg-red: #af001d;
$bg-blue: #0d4dc8;
$bg-body: #eff1fd;
$white: #fff;
$header-color: #5f6360;
$header2-color: #464646;
$shadow-color: #b3b3b3;
$info-color: #7c7c7c;
$light-border-color: #86b7fe;
$lavender-color: #e8b2de;
$lavender-border-color: #b8669f;
$lavender-layer: rgba(138, 43, 226, 0.3);
