@import "../../scss_variables/_variables";

#edit-btn {
  text-decoration: none;
}
@media (max-width: 767.98px) {
  #students-table {
    #control-btns {
      button {
        margin-block: 5px;
        width: 100%;
      }
    }
  }
}
@media (max-width: 575.98px) {
  #reset-btn,
  #add-btn {
    width: 100%;
  }
}
