@import "scss_variables/variables";

body {
  background-color: $bg-body;
}

.delete-warning {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 30px 5px $shadow-color;
  color: $header-color;
  h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
  }
}

%common-btn {
  color: $white;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-inline: 3px;
}

.blue-btn {
  @extend %common-btn;
  background-color: $bg-blue;
}

.red-btn {
  @extend %common-btn;
  background-color: $bg-red;
}

.green-btn {
  @extend %common-btn;
  background-color: $bg-green;
}

.grey-btn {
  @extend %common-btn;
  color: black;
  background-color: $bg-light;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 30px 5px $shadow-color;
  background-color: $white;
}

#x-btn {
  cursor: pointer;
}

.cstm-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .wrapper {
    width: 70%;
  }
}

@media (max-width: 575.98px) {
  %common-btn {
    padding: 4px 8px;
    margin-inline: 0px;
    margin-block: 8px;
  }
  .delete-warning {
    width: 100%;
    .control-buttons {
      display: flex;
      flex-direction: column;
      button {
        width: 100%;
      }
    }
  }
  .wrapper {
    width: 100%;
  }
}
